body {
	background-color: #33485E;
}
#console {
	font-family: 'Consolas', monospace;
	color: #fff;
	width:90%;
	margin-left:auto;
	margin-right:auto;
	margin-top:4%;
	font-size:105%;
}
a {
	color: #4ECDC4;
	text-decoration: underline;
}
#domain {
	color: #FE4365;
}
#dir {
	color: #F9CDAD;
}
#important-info {
	color: #C7F464;
}
#header {
	color: #4ECDC4;
}
